#leechblock-toolbar-button {
  list-style-image: url("chrome://leechblock/skin/leechblock24.png");
}

toolbar[iconsize="small"] #leechblock-toolbar-button {
  list-style-image: url("chrome://leechblock/skin/leechblock16.png");
}

#leechblock-time-left {
	background-color: #bbb;
	border: 1px solid #808080;
	border-radius: 4px;
	color: #444;
	font: normal 12px "Lucida Console", "Monaco", monospace;
	margin: 0px;
	padding: 4px 4px 2px 4px;
}
